/* Transforme le modèle de boite par défaut pour inclure dans la largeur et la hauteur, les marges intérieures et les bordures. */
*,
*:before,
*:after {
  box-sizing: border-box;

}

/* Les règles typographiques générales qui s'appliquent à tout le site */
body {
    font-family: var(--roboto--mono);
    font-size: var(--body-1);
}



h1{
    align-items: center;
    font-family: var(--inter);
    font-size: var(--h1);
}

h2{
    align-items: center;
    margin-left: 10px;
    font-family: var(--josephin);
    font-size: var(--h2);
}

h3{
    margin-left: 10px;
    font-family: var(--josephin);
    line-height: 1.4
}

button, a {
    font-size: var(--button);
    font-weight: var(--bold); 
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
p {
    margin-left: 12px;
    font-family: var(--Roboto Mono);
    font-size: var(--button);
}

/* Classes universelles */
.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: var(--space3x);
    padding-right: var(--space3x);
}