:root{
/* Color styles */
--bleu-clair: #A9CEF4;
--bleu: #7EA0B7;
--bleu-gris: #597081;
--bleu-foncé: #36494E;
--noir: #1C1514;
--gris: #989592;
--blanc: #FAFAFA;

/* Text-size styles */
--h1: 36px;
--h2: 24px;
--h3: 18px;
--body-1: 15px;
--body-2: 13px;
--small--text: 11px;
--button: 15px;
--small-text--uppercase: 11px;
--menu--item: 22px;
/*Police de caractère*/
--josephin: 'Josephin Sans', sans-serif;
--inter: 'Inter', sans-serif;
--roboto: 'Roboto', sans-serif;
--roboto--mono: 'Roboto Mono', monospace;

/* Spaces */
  --space1x: 8px;
  --space2x: 16px;
  --space3x: 24px;
  --space4x: 48px;
  --space5x: 80px;
}