/* Color styles */
--bleu-clair: rgba(169, 206, 244, 1);
--bleu: rgba(126, 160, 183, 1);
--bleu-gris: rgba(89, 112, 129, 1);
--bleu-foncé: rgba(54, 73, 78, 1);
--noir: rgba(28, 21, 20, 1);
--gris: rgba(152, 149, 146, 1);
--blanc: rgba(250, 250, 250, 1);

/* Text-size styles */
--h1--inter: 36px;
--h2--josephin: 24px;
--h3-josephin: 18px;
--body-1: 15px;
--body-2: 13px;
--small--text: 11px;
--button: 15px;
--small-text--uppercase: 11px;
--menu--item: 22px;
