:root{
/* Color styles */
--bleu-clair: #A9CEF4;
--bleu: #7EA0B7;
--bleu-gris: #597081;
--bleu-foncé: #36494E;
--noir: #1C1514;
--gris: #989592;
--blanc: #FAFAFA;

/* Text-size styles */
--h1--inter: 1rem;
--h2--josephin: 0.67rem;
--h3-josephin: 0.5rem;
--body-1: 0.42rem;
--body-2: 0.36rem;
--small--text: 0.31rem;
--button: 0.42rem;
--small-text--uppercase: 0.31rem;
--menu--item: 0.61rem;

/* Spaces */
  --space1x: 8px;
  --space2x: 16px;
  --space3x: 24px;
  --space4x: 48px;
  --space5x: 80px;
}