.footer{
    position: relative;
    display: flex;
    background-color: var(--bleu);  
}

.footer__start{
    display: flex;
    flex-direction: column;
    color: var(--noir);
}

.footer__list{
    display: flex; 
    color: var(--noir);
}

.footer__btn{
    display: flex;
    width:150px;
    gap: var(--space2x);
    align-items: center;
}

.footer__list,.footer__listinf,.footer__social li{
    list-style-type: none;
}

.footer__paragraphe{
    margin: var(--space2x);
}

.footer__social,.footer__end{
    display: flex;
    gap: var(--space2x);

}

.footer__hr{
    width:310px;
    align-items: center;
    border-bottom: 3px solid var(--noir);
    color: var(--noir);
}

.footer__paragraphe{
    margin: var(--space2x);
}