.header {
  background-color: var(--bleu);
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--space2x) var(--space3x);
  display: flex;
  justify-content: space-between;
}

.header__start {
  display: flex;
  gap: var(--space2x);
  align-items: center;
}

.header__end {
  display: flex;
  gap: var(--space2x);
  align-items: center;
}
.header__logo .header__nom {
  display: block;
  
}

.header__menu-btn {
  decoration: none;
}
