.header {
  background-color: rgba(126, 160, 183, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--space2x) var(--space3x);
  display: flex;
  justify-content: space-between;

}

